--得到所在地类型

--程序名称
local program_name=get_program_name() ;
--内网ip
local ip=get_ip(1) ;
--公网ip
local public_ip=get_ip(2) ;

svc_type="db"
project_name="dplan"

print ("------------------------------------------------")
print ( string.format("参数: 程序名： %s  公网ip: %s 内网ip: %s ", program_name, public_ip,ip  )) ;
print ("------------------------------------------------")

--------- 全局变量


log_dir = "../log" 
log_level = 8 
log_size = 32000000 

pkg_timeout = 5 
worker_num = 3 
send_sem_key = 23387 
recv_sem_key = 23388 
max_log_files = 2 
tlog_file_interval_sec = 86400 

mysql_host = "localhost" 
mysql_user = "root" 
mysql_passwd = "ta0mee" 
mysql_charset = "utf8"
mysql_port = 3306

REDIS_IP_PORT ="127.0.0.1:6379"
DBPROXY_IP_PORT ="10.1.1.20:4100"


--LOG_VIP_ITEM_ADDR = "10.1.1.20:13001" 
IS_LOG_DEBUG_SQL = 1 
LOG_HEX_DATA_FLAG = 1 
CHANGE_LOG_ADDR = "10.1.1.58:30004" 

cfg_center_ip ="10.1.1.5"
cfg_center_port =13330

server_bench_bind_map={ }
local port=15201
server_bench_bind_map[ #server_bench_bind_map+1]={ ip , port, "tcp",0 };
server_bench_bind_map[ #server_bench_bind_map+1]={ ip , port, "udp",0 };

